<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Tank World</title>
    <link rel="shortcut icon" href="tank/image/favicon.png">
    <link rel="stylesheet" type="text/css" href="tank/css/style.css">
</head>
<body>

<div id="wrapper">
    <canvas id="canvas">不支持画布</canvas>
    <input id="input" type="text" placeholder="请输入名字" class="input-name"/>
    <button id="button" >连接</button>
</div>
<script src="jquery.js"></script>
<script src="sockjs.js"></script>
<script src="stomp.js"></script>
<script src="tank/js/common.js"></script>
<script src="tank/js/game.js"></script>
<script src="tank/js/stage.js"></script>
<script src="tank/js/item.js"></script>
<script src="tank/js/index.js"></script>
</body>
</html>
